:root {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/inter-v12-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/inter-v12-latin_cyrillic-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
}
